* {
    padding: 0;
}

body {
    background-color: #f1f0e9;
}

header {
    background-color: #e9762b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 15% 24px 15%;
    border-radius: 0 0 24px 24px;
}

#navbar {
    display: flex;
    gap: 50px;

}
.card {
    width: 450px;
    border: 1px solid red;
    border-radius: 24px;
    padding: 16px;
}
.card img {
    width: 100%;
    border-radius: 24px;
}
.card h2 {
    text-align: center;
}
.card p{
    text-align: center;
}
.card button {
    background-color: #41644a;
    width: 100%;
    border: none;
    height: 34px;
    border-radius: 24px ;
    margin-top: 16px;
}